# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory notify
unsetopt autocd beep extendedglob nomatch
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/bfiedler/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
autoload -Uz promptinit
promptinit

# Do colors
eval "$(dircolors -b)"

# Fix word handling
export WORDCHARS=

# Ignore commands starting with a space
setopt HIST_IGNORE_SPACE
setopt histignoredups

# Common aliases
alias ls='ls --color'
alias lah='ls -lah'
alias grep='grep --color'

# Keyboard shortcuts for Ctrl+Backspace, etc.
bindkey "\eOc" forward-word
bindkey "\eOd" backward-word
bindkey "\e[1;5C" forward-word
bindkey "\e[1;5D"  backward-word
bindkey '^[[33~' backward-kill-word
bindkey "\e[7;5~" backward-kill-word

# For VCS suport
setopt prompt_subst
autoload -Uz vcs_info

zstyle ':vcs_info:*' actionformats \
    '(%F{yellow}%b%f)'
zstyle ':vcs_info:*' formats \
    '(%F{yellow}%b%f)'
zstyle ':vcs_info:*' enable git

precmd() {
    vcs_info
}

export GOPATH="$HOME/.go"
export PATH="$HOME/.go/bin:$PATH"

PROMPT=$'%B%F{green}%n%f%b@%B%F{{ "{" }}{{ base_zsh_host_color }}{{ "}" }}%m%f%b:%B%F{blue}%~%f%b %B${vcs_info_msg_0_}%b$prompt_newline%# '
RPROMPT="%T"

# Use zsh-syntax-highlighting
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
